.container {
	margin: 100px auto;
	width: 350px;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 32px;
	margin-bottom: 30px;
}

form label {
	display: block;
	margin-bottom: 8px;
}

form input {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	width: 100%;
	box-sizing: border-box;
}

form input[type=submit] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
}

form input[type=submit]:hover {
	background-color: #45a049;
}
